root = true

# defaults for all files
[*]
indent_style = space
end_of_line = lf
insert_final_newline = true
charset = utf-8
indent_size = 4

[*.{h,c,hpp,cpp}]
indent_size = 4

[*.nss]
indent_size = 4

[*.{md,rb,nim,nimble,json}]
indent_size = 2

[*.yml]
indent_size = 2
