nimcache
bin/nwn_*
nwn_*
!nwn_*.nim
!nwn_*.nim.cfg
profile_results.txt
.DS_Store
.vscode
Justfile

# testing: testament utility
testresults
testresults.html
tests/megatest*
tests/*/*
tests/*/*.exe
!tests/*/*.*
/outputExpected.txt
/outputGotten.txt
